1. Declare an empty list

In [2]:
empty_list=[]
print(len(empty_list))

0

2. Declare a list with more than 5 items
3. Find the length of your list
4. Get the first item, the middle item and the last item of the list

In [7]:
item=['apple','banana','coconut','melon','lemon']
print(len(item))
first_item=item[0]
mid_item=item[2]
last_item=item[-1]
print("%s\n%s\n%s" %(first_item,mid_item,last_item))

5
apple
coconut
lemon

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [10]:
mixed_data_types=["Danial",23,167,"Single","BatangKali"]
print(len(mixed_data_types))
print(mixed_data_types[0])
print(mixed_data_types[2])

5
Danial
167

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
7. Print the list using print()
8. Print the number of companies in the list
9. Print the first, middle and last company
10. Print the list after modifying one of the companies
11. Add an IT company to it_companies
12. Insert an IT company in the middle of the companies list
13. Change one of the it_companies names to uppercase (IBM excluded!)
14. Join the it_companies with a string '#;  '

In [24]:
it_companies=["Facebook","Google","Microsoft","Apple","IBM","Oracle","Amazon"]
print(it_companies)
print(len(it_companies))
it_companies[4]="OpenAI"
print(it_companies)
it_companies.append('Maxis')
print(it_companies)
it_companies.insert(4,'Oracle')
print(it_companies)
it_companies[1]=it_companies[1].upper()
print(it_companies)
joined_it_companies='#;  '.join(it_companies)
print(joined_it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
['Facebook', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'Oracle', 'Amazon', 'Maxis']
['Facebook', 'Google', 'Microsoft', 'Apple', 'Oracle', 'OpenAI', 'Oracle', 'Amazon', 'Maxis']
['Facebook', 'GOOGLE', 'Microsoft', 'Apple', 'Oracle', 'OpenAI', 'Oracle', 'Amazon', 'Maxis']
Facebook#;  GOOGLE#;  Microsoft#;  Apple#;  Oracle#;  OpenAI#;  Oracle#;  Amazon#;  Maxis

15. Check if a certain company exists in the it_companies list.
16. Sort the list using sort() method
17. Reverse the list in descending order using reverse() method
18. Slice out the first 3 companies from the list
19. Remove the first IT company from the list
20. Remove the middle IT company or companies from the list
21. Remove the last IT company from the list
22. Remove all IT companies from the list

In [25]:
check='Apple' in it_companies
print(check)
it_companies.sort()
print(it_companies)
it_companies.reverse()
print(it_companies)
firts_three=it_companies[:3]
print(firts_three)
mid_company=it_companies[4]
print(mid_company)
del it_companies[0]
print(it_companies)
del it_companies[3]
print(it_companies)
del it_companies[-1]
print(it_companies)
del it_companies
print(it_companies)

True
['Amazon', 'Apple', 'Facebook', 'GOOGLE', 'Maxis', 'Microsoft', 'OpenAI', 'Oracle', 'Oracle']
['Oracle', 'Oracle', 'OpenAI', 'Microsoft', 'Maxis', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']
['Oracle', 'Oracle', 'OpenAI']
Maxis
['Oracle', 'OpenAI', 'Microsoft', 'Maxis', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']
['Oracle', 'OpenAI', 'Microsoft', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']
['Oracle', 'OpenAI', 'Microsoft', 'GOOGLE', 'Facebook', 'Apple']

NameError: name 'it_companies' is not defined

In [28]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
join=front_end+back_end
print(join)

fullStack=join
index_redux=fullStack.index('Redux')
fullStack.insert(index_redux+1,'Python')
fullStack.insert(index_redux+2,'SQL')
print(fullStack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# LEVEL 2
The following is a list of 10 students ages:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

Sort the list and find the min and max age
Add the min age and the max age again to the list
Find the median age (one middle item or two middle items divided by two)
Find the average age (sum of all items divided by their number )
Find the range of the ages (max minus min)
Compare the value of (min - average) and (max - average), use abs() method

In [62]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
min_val=min(ages)
max_val=max(ages)
print('min values : %d\nmax values : %d '%(min_val,max_val))
n=len(ages)
print(n)
median=(ages[n//2 - 1] + ages[n//2]) / 2
print(median)
average=sum(ages)/n
print(average)
ages_range=max_val-min_val
print(ages_range)
min_diff = abs(min_val - average)
max_diff = abs(max_val - average)
print(min_diff < max_diff)
print(min_diff > max_diff)
print(min_diff == max_diff)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min values : 19
max values : 26
10
24.0
22.8
7
False
True
False

In [ ]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

lenght_countries=len(countries)
half=lenght_countries/2
print(half)
first_half=countries[:96]
sec_half=contries[96]

96.5