1. Declare an empty list

In [2]:
empty_list=[]
print(len(empty_list))

0

2. Declare a list with more than 5 items
3. Find the length of your list
4. Get the first item, the middle item and the last item of the list

In [7]:
item=['apple','banana','coconut','melon','lemon']
print(len(item))
first_item=item[0]
mid_item=item[2]
last_item=item[-1]
print("%s\n%s\n%s" %(first_item,mid_item,last_item))

5
apple
coconut
lemon

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [10]:
mixed_data_types=["Danial",23,167,"Single","BatangKali"]
print(len(mixed_data_types))
print(mixed_data_types[0])
print(mixed_data_types[2])

5
Danial
167

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.
7. Print the list using print()
8. Print the number of companies in the list
9. Print the first, middle and last company
10. Print the list after modifying one of the companies
11. Add an IT company to it_companies
12. Insert an IT company in the middle of the companies list
13. Change one of the it_companies names to uppercase (IBM excluded!)

In [22]:
it_companies=["Facebook","Google","Microsoft","Apple","IBM","Oracle","Amazon"]
print(it_companies)
print(len(it_companies))
it_companies[4]="OpenAI"
print(it_companies)
it_companies.append('Maxis')
print(it_companies)
it_companies.insert(4,'Oracle')
print(it_companies)
it_companies[1]=it_companies[1].upper()
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
7
['Facebook', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'Oracle', 'Amazon']
['Facebook', 'Google', 'Microsoft', 'Apple', 'OpenAI', 'Oracle', 'Amazon', 'Maxis']
['Facebook', 'Google', 'Microsoft', 'Apple', 'Oracle', 'OpenAI', 'Oracle', 'Amazon', 'Maxis']
['Facebook', 'GOOGLE', 'Microsoft', 'Apple', 'Oracle', 'OpenAI', 'Oracle', 'Amazon', 'Maxis']