# Exercises: Level 1

# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

1. Find the length of the set it_companies
2. Add 'Twitter' to it_companies
3. Insert multiple IT companies at once to the set it_companies
4. Remove one of the companies from the set it_companies
5. What is the difference between remove and discard

In [4]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

lenght_company=len(it_companies)
print("Lenght of it_companies sets is: %d" %(lenght_company))
it_companies.add('Twitter')
print(it_companies)
it_companies.update(['Meta','Deepseek'])
print(it_companies)
it_companies.remove('Oracle')
print(it_companies)

Lenght of it_companies sets is: 7
{'Facebook', 'Microsoft', 'Oracle', 'Twitter', 'Google', 'Amazon', 'Apple', 'IBM'}
{'IBM', 'Amazon', 'Google', 'Facebook', 'Microsoft', 'Apple', 'Twitter', 'Deepseek', 'Meta', 'Oracle'}
{'IBM', 'Amazon', 'Google', 'Facebook', 'Microsoft', 'Apple', 'Twitter', 'Deepseek', 'Meta'}

# Exercises: Level 2

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

1. Join A and B
2. Find A intersection B
3. Is A subset of B
4. Are A and B disjoint sets
5. Join A with B and B with A
6. What is the symmetric difference between A and B
7. Delete the sets completely

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

A_joined_B=A.union(B)
print(A_joined_B)

A_intersection_B = A.intersection(B)
print(A_intersection_B)

is_subset = A.issubset(B)
print(is_subset)

are_disjoint = A.isdisjoint(B)
print(are_disjoint)

A_union_B = A.union(B)
B_union_A = B.union(A)
print(A_union_B)
print(B_union_A)

sym_diff = A.symmetric_difference(B)
print(sym_diff)

del A
del B

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}

# Exercises: Level 3

age = [22, 19, 24, 25, 26, 24, 25, 24]

1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
2. Explain the difference between the following data types: string, list, tuple and set
3. I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [23]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
age_set=set(age)
len_lt=len(age)
len_st=len(age_set)
compare=len_lt > len_st
print(compare)

2. 

sentence="I am a teacher and I love to inspire and teach people."
words=sentence.split()
print(words)
unique_words=set(words)
num_unique_words=len(unique_words)
print(num_unique_words)

True
['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people.']
10